%%-*- mode: erlang -*-

{erl_opts, [
			debug_info
			%% {i, "include"},
			%% ,warnings_as_errors
		   ]}.

{deps, [
        {sync,  ".*", {git, "git://github.com/rustyio/sync.git", "master"}},
        {parse_trans, ".*", {git, "https://github.com/uwiger/parse_trans.git", "663ddebb6e"}}
       ]}.
